.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  &-title {
    font-weight: 900;

    margin-top: 0px;
    margin-bottom: 30px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $bgc;

    @media screen and(min-width:$desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.main-hero-img {
  width: 100%;
  min-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/img-hero/HeadMobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: $tablet) {
    width: 100%;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/img-hero/HeadTablet.jpg);
  }

  @media screen and (min-width: $desktop) {
    width: 100%;

    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/img-hero/HeadDeskTop.jpg);
  }
}

@media screen and(min-device-pixel-ratio:2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (max-width: 767px) {
  .main-hero-img {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/img-hero/HeadMobile@2x.jpg");
  }
}

@media screen and(min-device-pixel-ratio:2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: $tablet) {
  .main-hero-img {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/img-hero/HeadTablet@2x.jpg");
  }
}

@media screen and(min-device-pixel-ratio:2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: $tablet) {
  .main-hero-img {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/img-hero/HeadDeskTop@2x.jpg");
  }
}
