.advantage-item {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;

  text-transform: uppercase;

  color: $link-color;
}

.advantage .item {
  &::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #fbfbfb;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  @media screen and(min-width:$tablet) {
  }
}

%advant-before {
  background-repeat: no-repeat;
  background-position: center;
}

.first-advant::before {
  @extend %advant-before;
  background-image: url(../img/img-icons/antena1.svg);
}

.second-advant::before {
  @extend %advant-before;
  background-image: url(../img/img-icons/cloсk.svg);
}

.third-advant::before {
  @extend %advant-before;
  background-image: url(../img/img-icons/diagram.1.svg);
}

.fours-advant::before {
  @extend %advant-before;
  background-image: url(../img/img-icons/astronaut1.svg);
}

.advantage-item {
  text-align: center;
  color: $link-color;

  @media screen and(min-width:$tablet) {
    text-align: left;
  }
}

.advantage .item:not(:last-child) {
  @media screen and(max-width:767px) {
    margin-bottom: 30px;
  }
}

.advantage .list {
  @media screen and(min-width:$tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.advantage .item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
