.footer-section {
  background-color: $footer-bgc;
}

%adress-font {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  text-align: center;

  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.adress {
  @extend %adress-font;

  color: $bgc;
}

.adress-contacts {
  @extend %adress-font;

  color: $contacts-color;
}

.feedback {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;

  text-align: center;

  text-transform: uppercase;

  color: $bgc;

  margin-bottom: 20px;
  margin-top: 0px;
}

.adress-footer {
  display: block;
}

.adress-footer:not(:last-child) {
  margin-bottom: 8px;
}

.footer-media {
  @media screen and(max-width:$desk-top) {
    margin-bottom: 60px;
  }

  @media screen and(min-width:$desktop) {
    margin-right: 93px;
  }

  .social-icon-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .social-icon {
    fill: $bgc;
  }
}

.main-adress {
  @media screena and(max-width:$desktop) {
    margin-bottom: 60px;
  }

  @media screen and(min-width:1200px) {
    margin-right: 70px;
  }
}

.email {
  width: 450px;
  height: 50px;

  @media screen and(min-width:$desktop) {
    width: 358px;
  }

  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: $contacts-color;

  @media screen and(max-width:1199px) {
    margin-bottom: 20px;
  }

  @media screen and(min-width:1200px) {
    margin-right: 12px;
  }

  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: $contacts-color;
  }
}

.submission {
  display: inline-flex;
}

.letter {
  margin-left: 10px;
}

.letter-icon {
  fill: $bgc;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submission:hover .letter-icon {
  fill: $hover-button-blue;
}

.form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width:1200px) {
    flex-direction: row;
    align-items: center;
  }
}

/*.footer-tablet {
  @media screen and(win-width:$tablet) {
    display: flex;
    justify-content: space-evenly;
  }
}*/
