.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  &-title {
    font-weight: 900;

    margin-top: 0px;
    margin-bottom: 30px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $bgc;

    @media screen and(min-width:1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.main-hero-img {
  width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/img-hero/hero-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
