.team .section-title,
.partners.container .section-title {
  margin-bottom: 50px;
}

.team-member + p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;

  text-align: center;
}

.team {
  background-color: #f5f4fa;

  &-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;

    text-align: center;

    color: $link-color;
  }
}

.team-member {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-description {
  margin-top: 0px;
  margin-bottom: 15px;
}

.social-icon-list {
  display: flex;
  justify-content: center;

  outline: 2px solid blue;
}

.team .social-icon-list {
  margin: -15px;
}

.media-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $bgc;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-item {
  display: block;
  height: auto;
  background: $bgc;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 24px;
}

.member-item:not(:last-child) {
  @media screen and(max-width:767px) {
    margin-bottom: 30px;
  }
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: $hover-button-blue;
}

.social-icon-link:hover .social-icon {
  fill: $bgc;
}

.team .list {
  @media screen and(min-width:$tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team .item {
  @media screen and(min-width:$tablet) {
    width: calc((100% - 4 * 15) / 2);
    margin: 15px;
  }

  @media screen and(min-width:$desktop) {
    width: calc((100% - 8 * 15) / 4);
    margin: 15px;
  }
}
