body {
  background-color: $bgc;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;

  color: $main-text-color;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section-title {
  margin-top: 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: $link-color;
}

.item-text {
  margin-bottom: 0px;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;

  text-decoration: none;

  color: $link-color;

  &.active.current {
    color: $hover-button-blue;
  }
}

.team .section-title,
.partners.container .section-title {
  margin-bottom: 50px;
}
